{% extends 'base.html.twig' %}

{% block title %}Détail {{ eleve.prenomEleve}} {{ eleve.nomEleve}}{% endblock %}

{% block body %}

	<h1>{{ eleve.prenomEleve}} {{ eleve.nomEleve}}</h1>

	<h2>Classe de l'élève: {{eleve.Classe.libelle}}</h2>

	<p>Autorisation des parents pour l'autoprélèvement pour la licence: 
		{% if eleve.autoPrelev == 0 %}
			Non
		{% else %}
			Oui
		{% endif %}
	</p>

	<p>Si l'élève prend le sweat :
		{% for flux in eleve.fluxes %}
			{% if flux.libelleFlux == 'Sweat'%}
				Oui
			{% else %}
				Non
			{% endif %}
		{% endfor %}
	</p>

    <div>
        <a href="{{ path('finance_new', {'id': eleve.id}) }}">
            <button class="btn btn-primary" id="btnAjout">
                Ajouter un nouveau flux
            </button>
        </a>
    </div>
    <div>
        {{ knp_pagination_render(eleveFlux) }}
    </div>
	<table class="table tableAdmin">
        <thead>
            <tr>
                <th>Montant du flux</th>
                <th>Date du flux</th>
                <th>Libelle du flux</th>
                <th>Budget concerné</th>
                <th>Evénement concerné</th>
                <th>Si la facturation effectuée ou non</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for flux in eleve.fluxes %}
            <tr>
                <td>{{ flux.montantFlux }} €</td>
                <td>{{ flux.dateFlux ? flux.dateFlux|date('d/m/Y') : '' }}</td>
                <td>{{ flux.libelleFlux }}</td>
                <td>{{ flux.budget.libelleBudget }}</td>
                <td>{{ flux.evenement.nomEvenement}}</td>
                <td>				
	                {% if flux.facturationFlux == 1 %}
						Oui
					{% else %}
						Non
					{% endif %}
				</td>
                <td>
                    <a href="{{ path('finance_edit',
                    {'id': flux.id}) }}">
                        <button class="btn btn-primary">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('finance_delete_view',
                     {'id': flux.id}) }}">
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune donnée n'a été trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {{ knp_pagination_render(eleveFlux) }}
    </div>
	<div>
        <a href="{{ path('finance_index') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Retourner dans la liste 
            </button>
        </a>
    </div>
{% endblock %}

