{% extends 'base.html.twig' %}

{% block title %}Détail {{ eleve.prenomEleve}} {{ eleve.nomEleve}}{% endblock %}

{% block body %}

	<h1>{{ eleve.prenomEleve}} {{ eleve.nomEleve}}</h1>

	<h2>Classe de l'élève: {{eleve.Classe.libelle}}</h2>

	<p>Autorisation des parents pour l'autoprélèvement pour la licence: 
		{% if eleve.autoPrelev == 0 %}
			Non
		{% else %}
			Oui
		{% endif %}
	</p>

	<p>Si l'élève prend le sweat :
		{% for flux in eleve.fluxes %}
			{% if flux.libelleFlux == 'Sweat'%}
				Oui
			{% endif %}
		{% else %}
			Non
		{% endfor %}
	</p>

	<p>Le montant du prélèvement : 
		{% for flux in eleve.fluxes %}
			{% if flux.typeFlux.libelleTypeFlux == 'Prélèvement' %}
				{{ flux.montantFlux }} €
			{% endif %}
		{% else %}
			Aucun prélèvement a été effectué
		{% endfor %}
	</p>

	<p>Si la facturation du prélèvement a été effectué ou non : 
		{% for flux in eleve.fluxes %}
			{% if flux.typeFlux.libelleTypeFlux == 'Prélèvement' %}
				{% if flux.facturationFlux == 1 %}
					Oui
				{% else %}
					Non
				{% endif %}
			{% endif %}
		{% else %}
			Aucun prélèvement a été effectué
		{% endfor %}				
	</p>
{% endblock %}

