{% extends 'base.html.twig' %}

{% block title %}Liste des élèves{% endblock %}

{% block body %}
    <h1>Liste des élèves</h1>
    <div id="filtre">
            <div id="left">
                <span>Classe : </span>
                <select class="form-select">
                    <option selected>Toutes</option>
                    {% for classe in classes %}
                        <option value="{{ classe.id }}">{{classe.Libelle}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <span>Genre : </span>
                <select class="form-select">
                    <option selected>Tous</option>
                    <option value="H">Homme</option>
                    <option value="F">Femme</option>
                </select>
            </div>
            <div>
                <span>Archive : </span>
                <select class="form-select">
                    <option selected>Tous</option>
                    <option value="0">Non Archivé</option>
                    <option value="1">Archivé</option>
                </select>
            </div>
            <div>
                <button type="submit" class="btn btn-info">
                    Afficher
                </button>
            </div>
        </div>
    </div>
    <div>
        <a href="{{ path('eleve_new') }}">
            <button class="btn btn-primary" id="btnAjout">
                Ajouter un nouveau élève
            </button>
        </a>
        <a href="{{ path('eleve_file') }}">
            <button class="btn btn-primary" id="btnAjout">
                Ajouter une liste d'élève
            </button>
        </a>
    </div>
    <a href="{{ path('admin_index') }}">
        <button class="btn btn-default" id="btnRetour">
            Retourner dans la liste de fonctionnalité
        </button>
    </a>
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Photo de l'élève</th>
                <th>Prénom de l'élève</th>
                <th>Nom de l'élève</th>
                <th>Date de naissance</th>
                <th>Genre de l'élève</th>
                <th>Numéro de téléphone</th>
                <th>Numéro de téléphone d'un parent</th>
                <th>Archivage de l'élève</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td><img src="{{ asset('uploads/imgProfil/' ~ eleve.photoEleve) }}"></td>
                <td>{{ eleve.prenomEleve }}</td>
                <td>{{ eleve.nomEleve }}</td>
                <td>{{ eleve.dateNaissance ? eleve.dateNaissance|date('d/m/Y') : '' }}</td>
                <td>{{ eleve.genreEleve }}</td>
                <td>+33 (0){{ eleve.numTelEleve }}</td>
                <td>+33 (0){{ eleve.numTelParent }}</td>
                <td>{{ eleve.archiveEleve }}</td>
                <td>
                    <a href="{{ path('eleve_edit',
                    {'id': eleve.id}) }}">
                        <button class="btn btn-primary">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('eleve_delete',
                     {'id': eleve.id}) }}">
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11" class="erreur">Aucune donnée n'a été trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
