{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>{{ eleve.prenomEleve }} {{ eleve.nomEleve }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ eleve.id }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ eleve.dateNaissance }}</td>
            </tr>
            <tr>
                <th>GenreEleve</th>
                <td>{{ eleve.genreEleve }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ eleve.dateCreation ? eleve.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateMaj</th>
                <td>{{ eleve.dateMaj ? eleve.dateMaj|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ArchiveEleve</th>
                <td>{{ eleve.archiveEleve }}</td>
            </tr>
            <tr>
                <th>NumTelEleve</th>
                <td>{{ eleve.numTelEleve }}</td>
            </tr>
            <tr>
                <th>NumTelParent</th>
                <td>{{ eleve.numTelParent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('eleve_index') }}">back to list</a>

    <a href="{{ path('eleve_edit', {'id': eleve.id}) }}">edit</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
