{% extends 'base.html.twig' %}

{% block title %}{{actualite.NomActu}}{% endblock %}

{% block body %}
    <h1>{{actualite.NomActu}}</h1>

    <h2>{{ actualite.dateActu ? actualite.dateActu|date('d-m-Y H:i') : '' }}</h2>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in actualite.photoActu %}
                <li data-target=".carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in actualite.photoActu %}
                <div class="carousel-item {% if loop.index0 == 0 %} active {% endif %}">
                    <img class="d-block w-40" src="{{ asset('uploads/actuPhotos/' ~ image.imgPhotoActu) }}" alt="{{ image.imgPhotoActu }}-image-{{ image.id }}" width="200">
                </div>
            {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
      </a>
    </div>


    <p>{{ actualite.descripActu }}</p>

    <div id="divRetour">
        <a href="{{ path('admin_index') }}">
            <button class="btn btn-secondary" id="btnRetour">
                Retourner dans la liste de fonctionnalité
            </button>
        </a>
    </div>

{% endblock %}
