{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {% if error %}
            <div class="erreur">{{ error.messageKey|trans
                (error.messageData, 'Saisie') }}
            </div>
        {% endif %}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {% if error %}
            <div class="erreur">{{ error.messageKey|trans
                (error.messageData, 'Saisie') }}
            </div>
        {% endif %}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
