    {{form_start(form)}}
        <div id="part1">
            <div>
                {{form_label(form.nomEvenement)}}
            </div>
            <div id="divInput">
                {{form_widget(form.nomEvenement)}}
            </div>
            <div class="erreur">
                {{form_errors(form.nomEvenement)}}
            </div>
            <div>
                {{form_label(form.dateDebut)}}
            </div>
            <div id="divInput">
                {{form_widget(form.dateDebut)}}
            </div>
            <div class="erreur">
                {{form_errors(form.dateDebut)}}
            </div>
            <div>
                {{form_label(form.dateFin)}}
            </div>
            <div id="divInput">
                {{form_widget(form.dateFin)}}
            </div>
            <div class="erreur">
                {{form_errors(form.dateFin)}}
            </div>
            <div>
                {{form_label(form.lieuEvenement)}}
            </div>
            <div id="divInput">
                {{form_widget(form.lieuEvenement)}}
            </div>
            <div class="erreur">
                {{form_errors(form.lieuEvenement)}}
            </div>
            <div>
                {{form_label(form.coutEvenement)}}
            </div>
            <div id="divInput">
                {{form_widget(form.coutEvenement)}}
            </div>
            <div class="erreur">
                {{form_errors(form.coutEvenement)}}
            </div>
            <div>
                {{form_label(form.descripEvenement)}}
            </div>
            <div id="divInput">
                {{form_widget(form.descripEvenement)}}
            </div>
            <div class="erreur">
                {{form_errors(form.descripEvenement)}}
            </div>
        </div>
        <div id="part2">
            <div>
                {{form_label(form.nbPlace)}}
            </div>
            <div id="divInput">
                {{form_widget(form.nbPlace)}}
            </div>
            <div class="erreur">
                {{form_errors(form.nbPlace)}}
            </div>
            <div>
                {{form_label(form.imageEvenement)}}
            </div>
            <div id="divInput">
                {{form_widget(form.imageEvenement)}}
            </div>
            <div class="erreur">
                {{form_errors(form.imageEvenement)}}
            </div>
            <div>
                {{form_label(form.vignetteEvenement)}}
            </div>
            <div id="divInput">
                {{form_widget(form.vignetteEvenement)}}
            </div>
            <div class="erreur">
                {{form_errors(form.vignetteEvenement)}}
            </div>
            <div>
                {{form_label(form.Type)}}
            </div>
            <div id="divInput">
                {{form_widget(form.Type)}}
            </div>
            <div class="erreur">
                {{form_errors(form.Type)}}
            </div>
            <div>
                {{form_label(form.Sport)}}
            </div>
            <div id="divInput">
                {{form_widget(form.Sport)}}
            </div>
            <div class="erreur">
                {{form_errors(form.Sport)}}
            </div>
        </div>
    {{form_end(form)}}
            

