{% extends 'base.html.twig' %}

{% block title %}Liste d'événement{% endblock %}

{% block body %}
    <h1>Liste d'événements</h1>
        <div id="filtre">
            <div id="left">
                <span>Sport : </span>
                <select class="form-select">
                    <option selected>Tous</option>
                    {% for sport in sports %}
                          <option value="{{ sport.id }}">{{sport.nomSport}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <span>Categorie : </span>
                <select class="form-select">
                    <option selected>Toutes</option>
                    {% for categorie in categories %}
                        <option value="{{ categorie.id }}">{{categorie.libelleCategorie}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="switch">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
                <span>Actif</span>
            </div>
            <div>
                <button type="submit" class="btn btn-info">
                    Afficher
                </button>
            </div>
        </div>
        {% for evenement in evenements %}
            <section id="evenement">
                <div class="container-fluid">
                    <img src="{{ evenement.vignetteEvenement }}" id="vignette">
                    <div id="event">
                        <div>
                            <h3>{{ evenement.nomEvenement }}</h3>
                        </div>
                        <div>
                            <div id="dateInscrip">
                                <i class="fas fa-calendar-alt"></i>
                                <span>
                                    début d'inscription le
                                    {{ evenement.dateDebut ? evenement.
                                    dateDebut|date('d-m-Y') : '' }}
                                </span>
                                <span> jusqu'à la </span>
                                <span>
                                    fin d'inscription le
                                    {{ evenement.dateFin ? evenement.
                                    dateFin|date('d-m-Y H:i:s') : '' }}
                                </span>
                            </div>
                            <div id="place">
                                <p>
                                    nombre de place restant :
                                    {{ evenement.nbPlace }}
                                </p>
                            </div>
                        </div>
                        <div id="descrip">
                            <p>{{ evenement.descripEvenement }}</p>
                        </div>
                        <div>
                            <a href="{{ path('evenement_show', {'id': evenement.id}) }}">>Voir évenement</a>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
{% endblock %}

