{% extends 'base.html.twig' %}

{% block title %}{{ evenement.nomEvenement }}{% endblock %}

{% block body %}
    <h1>{{ evenement.nomEvenement }}</h1>

    <p><i class="fas fa-calendar-alt"></i>{{ evenement.dateDebut ? evenement.dateDebut|date('d-m-Y') : '' }} au {{ evenement.dateFin ? evenement.dateFin|date('d-m-Y') : '' }}</p>

    <p><i class="fas fa-exclamation-circle"></i> inscriptions sur {{ evenement.nbPlace }}</p>

    <p>Type d'événement : </p>

    <p>Sport : </p>

    <p>Lieu : {{ evenement.lieuEvenement }}</p>

    <img href="{{ evenement.imageEvenement }}" id="imgEvent">

    <h2>Description de l'événement</h2>

    <p>{{ evenement.descripEvenement }}</p>

    <h2>Condition d'inscription</h2>

    <p><p>

    <table class="table tableAdmin">
        <thead>
            <tr>
                <th scope="col">Nom du document</th>
                <th scope="col">Date d'ajout</th>
                <th scope="col">Description du document</th>
                <th scope="col">Lien de téléchargement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{evenement.getDocuments.getNomDocument}}</td>
                <td scope="row">{{evenement.getDocuments.getNomDocument}}</td>
                <td scope="row">{{evenement.getDocuments.getNomDocument}}</td>
                <td>
                    <a href=""
                     download="">
                        <button class="btn btn-primary">
                            <i class="fas fa-download"></i>
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
        

    <div>
        <a href="{{ path('evenement_admin') }}">
            <button class="btn btn-default" id="btnRetour">
                Revenir dans la liste
            </button>
        </a>
        <a href="{{ path('evenement_admin') }}">
            <button class="btn btn-success" >
                S'inscrire
            </button>
        </a>
    </div>

    
{% endblock %}
