{% extends 'base.html.twig' %}

{% block title %}Liste de documents téléchargeables{% endblock %}

{% block body %}
    <h1>Liste de Documents téléchargables</h1>

    <form class="d-flex" id="search">
        <input class="form-control me-2" type="search"
         placeholder="Rechercher Document" aria-label="Search">
        <button class="btn btn-light"
         type="submit">Rechercher</button>
    </form>
    <button class="btn btn-primary" id="btnAjout">
        <a href="{{ path('document_new') }}"> 
            Ajouter un nouveau document
        </a>
     </button>    
    <table class="table tableAdmin">
        <thead>
            <tr>
                <th scope="col">Nom du document</th>
                <th scope="col">Lien de téléchargement</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td scope="row">{{ document.nomDocument }}</td>
                <td> <a href="{{ document.lienDocument }}" 
                        download="{{ document.lienDocument }}"
                    {{ document.lienDocument }}</a>
                </td>
                <td>
                    <a href="{{ path('document_edit',
                    {'id': document.id}) }}">
                        <button class="btn btn-primary">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('document_delete',
                     {'id': document.id}) }}">
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="erreur">Aucune donnée n'a été trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
