{% extends 'base.html.twig' %}

{% block title %}Liste des documents téléchargeables{% endblock %}

{% block body %}
    <h1>Liste des documents téléchargeables</h1>
    <div id="search">
        {{form_start(form)}}
            <div class="form-row align-items-end">
                <div class="col">
                    {{form_row(form.nom)}}
                    <button class="btn btn-light" type="submit">Rechercher</button>
                </div>
            </div>
        {{form_end(form)}}
    </div>
    {% if documents %}
        <table class="tableAdmin table">
            <thead>
                <tr>
                    <th scope="col">Nom du Document</th>
                    <th scope="col">Description du document</th>
                    <th scope="col">Lien de téléchargement</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td scope="row">{{ document.nomDocument }}</td>
                        <td scope="row">{{ document.descriptionDocument }}</td>
                        <td>
                            <a href="{{ document.lienDocument }}" download>
                                <button class="btn btn-primary">
                                    Télécharger
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
         <p class="erreur">Aucune donnée n'a été trouvée</p>
    {% endif %}   
{% endblock %}
