{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <div>
        <a href="{{ path('user_new') }}">
            <button class="btn btn-primary" id="btnAjout">
                Ajouter un nouveau utilsateur
            </button>
        </a>
        <a href="{{ path('user_file') }}">
            <button class="btn btn-primary" id="btnAjout">
                Ajouter une liste d'utilisateur
            </button>
        </a>
    </div>
    <a href="{{ path('admin_index') }}">
        <button class="btn btn-default" id="btnRetour">
            Retourner dans la liste de fonctionnalité
        </button>
    </a>

    <table class="table tableAdmin">
        <thead>
            <tr>
                <th>Le nom d'un utilisateur</th>
                <th>Le prénom d'un utilisateur</th>
                <th>L'email d'un utilisateur</th>
                <th>Les rôles d'un utilisateur</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nomUser }}</td>
                <td>{{ user.prenomUser }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_edit',
                    {'id': user.id}) }}">
                        <button class="btn btn-primary">
                            <i class="far fa-edit"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('user_delete',
                     {'id': user.id}) }}">
                        <button class="btn btn-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="erreur">Aucune donnée n'a été trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
